
\[DBMEx\] Installer/code.js
\[DBMEx\] Installer/DBM-Mod-Manager-master/.gitattributes
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager.sln
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Actions/ModParser.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Actions/RepoGetter.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/App.config
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/App.xaml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/App.xaml.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Config.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/DBM-Mod-Manager.csproj
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/dbmmodsicon.ico
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/ListView_View.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Localization/csv/de.csv
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Localization/dbm_mod_manager.tsf
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/MainWindow.xaml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/MainWindow.xaml.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Managers/DownloadManager.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Models/ModItem.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/ModManifest.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Mods.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/packages.config
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/AssemblyInfo.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/Resources.Designer.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/Resources.en.Designer.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/Resources.en.resx
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/Resources.resx
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/Settings.Designer.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Properties/Settings.settings
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Themes/LeftMarginMultiplierConverter.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Themes/Styles.xaml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Themes/TreeViewItemExtensions.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Windows/InitialSetup.xaml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Windows/InitialSetup.xaml.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Windows/ProcessDialog.xaml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/Windows/ProcessDialog.xaml.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/LICENSE
\[DBMEx\] Installer/DBM-Mod-Manager-master/README.md
\[DBMEx\] Installer/Mod-Manager-master/.github/FUNDING.yml
\[DBMEx\] Installer/Mod-Manager-master/.github/workflows/build.yml
\[DBMEx\] Installer/Mod-Manager-master/.yarnclean
\[DBMEx\] Installer/Mod-Manager-master/build/bundle-ui.js
\[DBMEx\] Installer/Mod-Manager-master/build/icon.icns
\[DBMEx\] Installer/Mod-Manager-master/build/icon.ico
\[DBMEx\] Installer/Mod-Manager-master/build/icon.png
\[DBMEx\] Installer/Mod-Manager-master/build/icons/128x128.png
\[DBMEx\] Installer/Mod-Manager-master/build/icons/256x256.png
\[DBMEx\] Installer/Mod-Manager-master/build/icons/32x32.png
\[DBMEx\] Installer/Mod-Manager-master/build/icons/512x512.png
\[DBMEx\] Installer/Mod-Manager-master/build/icons/64x64.png
\[DBMEx\] Installer/Mod-Manager-master/build/icons/96x96.png
\[DBMEx\] Installer/Mod-Manager-master/ddmm.json
\[DBMEx\] Installer/Mod-Manager-master/electron-builder-china.json
\[DBMEx\] Installer/Mod-Manager-master/electron-builder.json
\[DBMEx\] Installer/Mod-Manager-master/lang/ar.json
\[DBMEx\] Installer/Mod-Manager-master/lang/be.json
\[DBMEx\] Installer/Mod-Manager-master/lang/de.json
\[DBMEx\] Installer/Mod-Manager-master/lang/en-GB.json
\[DBMEx\] Installer/Mod-Manager-master/lang/es-419.json
\[DBMEx\] Installer/Mod-Manager-master/lang/fa.json
\[DBMEx\] Installer/Mod-Manager-master/lang/fil.json
\[DBMEx\] Installer/Mod-Manager-master/lang/fr.json
\[DBMEx\] Installer/Mod-Manager-master/lang/id.json
\[DBMEx\] Installer/Mod-Manager-master/lang/it.json
\[DBMEx\] Installer/Mod-Manager-master/lang/ja.json
\[DBMEx\] Installer/Mod-Manager-master/lang/nb_NO.json
\[DBMEx\] Installer/Mod-Manager-master/lang/pl.json
\[DBMEx\] Installer/Mod-Manager-master/lang/pt_BR.json
\[DBMEx\] Installer/Mod-Manager-master/lang/README.md
\[DBMEx\] Installer/Mod-Manager-master/lang/ru.json
\[DBMEx\] Installer/Mod-Manager-master/lang/th.json
\[DBMEx\] Installer/Mod-Manager-master/lang/tr.json
\[DBMEx\] Installer/Mod-Manager-master/lang/uk.json
\[DBMEx\] Installer/Mod-Manager-master/lang/vi.json
\[DBMEx\] Installer/Mod-Manager-master/lang/zh_Hans.json
\[DBMEx\] Installer/Mod-Manager-master/lang/zh_Hant.json
\[DBMEx\] Installer/Mod-Manager-master/LICENSE.txt
\[DBMEx\] Installer/Mod-Manager-master/package.json
\[DBMEx\] Installer/Mod-Manager-master/README.md
\[DBMEx\] Installer/Mod-Manager-master/src/ddmm.d.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/archive/ArchiveConverter.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/archive/Unzipper.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/constants/china.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/constants/global.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/discord/DiscordManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/discord/DummyDiscordManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/discord/IDiscordManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/i18n/i18n.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/i18n/TranslationDownload.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/index.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/install/InstallCreator.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/install/InstallLauncher.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/install/InstallList.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/install/InstallManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/install/ModManagerHookInjector.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/mappers/DumpAndHopeForTheBest.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/mappers/InstallAppropriateFiles.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/mappers/ModManagerFormat.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/mappers/ModTemplateFormat.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/mappers/NestedGameFolder.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/ModInstaller.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/ModList.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/ModMapper.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/ModNormaliser.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/mod/SpecialCaseManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/net/DownloadManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/onboarding/IntegrityCheck.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/onboarding/OnboardingManager.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/sdk/LogClass.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/sdk/SDKDebugConsole.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/sdk/SDKServer.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/types/Install.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/types/ModMetadata.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/types/MonikaExportStatus.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/utils/BundledUIServer.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/utils/Config.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/utils/DebugString.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/utils/FeatureFlags.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/utils/FileHash.ts
\[DBMEx\] Installer/Mod-Manager-master/src/main/utils/Logger.ts
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/html/offline.html
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/html/sdk-debug.html
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/default.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-monika.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-natsuki.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-natsuki2.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-sayori.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-sayori2.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-yuri.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/backgrounds/x-base-yuri2.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/images/ddmm.png
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/js-preload/preload.js
\[DBMEx\] Installer/Mod-Manager-master/src/renderer/js-preload/sdk-preload.js
\[DBMEx\] Installer/Mod-Manager-master/src/renpy/ddmm.rpy
\[DBMEx\] Installer/Mod-Manager-master/tsconfig.json
\[DBMEx\] Installer/Mod-Manager-master/tslint.json
\[DBMEx\] Installer/Mod-Manager-master/yarn.lock
\[DBMEx\] Installer/start.js
actions/optional/DBME/action_anchor.js
actions/optional/DBME/await_interaction_MOD.js
actions/optional/DBME/bot.js
actions/optional/DBME/end_action_container.js
actions/optional/DBME/end_action_sequence.js
actions/optional/DBME/end_if_ended.js
actions/optional/DBME/go_to_anchor.js
actions/optional/DBME/send_message.js
\[DBMEx\] Installer/DBM-Mod-Manager-master/.vs/DBM-Mod-Manager/FileContentIndex/eba73f91-e125-4413-8406-530a12909674.vsidx
\[DBMEx\] Installer/DBM-Mod-Manager-master/.vs/DBM-Mod-Manager/FileContentIndex/read.lock
\[DBMEx\] Installer/DBM-Mod-Manager-master/.vs/DBM-Mod-Manager/v16/.suo
\[DBMEx\] Installer/DBM-Mod-Manager-master/.vs/DBM-Mod-Manager/v17/.suo
\[DBMEx\] Installer/DBM-Mod-Manager-master/.vs/DBM-Mod-Manager/v17/TestStore/0/000.testlog
\[DBMEx\] Installer/DBM-Mod-Manager-master/.vs/DBM-Mod-Manager/v17/TestStore/0/testlog.manifest
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Config.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/DBM-Mod-Manager.exe
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/DBM-Mod-Manager.exe.config
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/DBM-Mod-Manager.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/de/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/en-US/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/en/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/es/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/fr/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/hu/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/it/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Microsoft.Windows.Shell.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Microsoft.Windows.Shell.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Octokit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Octokit.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/ro/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/ru/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/sv/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Xceed.Wpf.AvalonDock.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Aero.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Xceed.Wpf.AvalonDock.Themes.Metro.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Xceed.Wpf.DataGrid.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/Xceed.Wpf.Toolkit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Debug/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Config.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/DBM-Mod-Manager.exe
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/DBM-Mod-Manager.exe.config
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/DBM-Mod-Manager.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/de/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/en-US/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/en/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/es/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/fr/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/hu/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/it/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Microsoft.Windows.Shell.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Microsoft.Windows.Shell.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Octokit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Octokit.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/ro/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/ru/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/sv/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Xceed.Wpf.AvalonDock.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Xceed.Wpf.AvalonDock.Themes.Aero.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Xceed.Wpf.AvalonDock.Themes.Metro.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Xceed.Wpf.DataGrid.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/Xceed.Wpf.Toolkit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/bin/Release/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/App.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/App.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/App.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csproj.AssemblyReference.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csproj.CopyComplete
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csproj.CoreCompileInputs.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csproj.FileListAbsolute.txt
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csproj.GenerateResource.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csproj.SuggestedBindingRedirects.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.csprojAssemblyReference.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.exe
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.g.en-US.resources
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager_MarkupCompile.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager_MarkupCompile.i.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager_MarkupCompile.i.lref
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM-Mod-Manager_MarkupCompile.lref
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM_Mod_Manager.Properties.Resources.en.resources
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DBM_Mod_Manager.Properties.Resources.resources
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DesignTimeResolveAssemblyReferences.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/en-US/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/en/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/GeneratedInternalTypeHelper.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/MainWindow.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/MainWindow.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/MainWindow.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/TempPE/Properties.Resources.en.Designer.cs.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Themes/Styles.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Windows/InitialSetup.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Windows/InitialSetup.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Windows/InitialSetup.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Windows/ProcessDialog.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Windows/ProcessDialog.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Debug/Windows/ProcessDialog.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/App.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/App.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/App.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.csproj.AssemblyReference.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.csproj.CopyComplete
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.csproj.CoreCompileInputs.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.csproj.FileListAbsolute.txt
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.csproj.GenerateResource.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.csproj.SuggestedBindingRedirects.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.exe
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.g.en-US.resources
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager_MarkupCompile.cache
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM-Mod-Manager_MarkupCompile.lref
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM_Mod_Manager.Properties.Resources.en.resources
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/DBM_Mod_Manager.Properties.Resources.resources
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/en-US/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/en/DBM-Mod-Manager.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/GeneratedInternalTypeHelper.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/GeneratedInternalTypeHelper.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/MainWindow.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/MainWindow.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/MainWindow.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/TempPE/Properties.Resources.en.Designer.cs.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Themes/Styles.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Windows/InitialSetup.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Windows/InitialSetup.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Windows/InitialSetup.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Windows/ProcessDialog.baml
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Windows/ProcessDialog.g.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/DBM-Mod-Manager/obj/Release/Windows/ProcessDialog.g.i.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/.signature.p7s
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/Extended.Wpf.Toolkit.3.2.0.nupkg
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net35/WPFToolkit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net35/Xceed.Wpf.Toolkit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/de/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/es/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/fr/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/hu/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/it/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/pt-BR/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/ro/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/ru/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/sv/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/Xceed.Wpf.AvalonDock.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/Xceed.Wpf.AvalonDock.Themes.Aero.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/Xceed.Wpf.AvalonDock.Themes.Metro.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/Xceed.Wpf.AvalonDock.Themes.VS2010.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/Xceed.Wpf.DataGrid.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/Xceed.Wpf.Toolkit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/lib/net40/zh-Hans/Xceed.Wpf.AvalonDock.resources.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Extended.Wpf.Toolkit.3.2.0/tools/install.ps1
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Microsoft.Windows.Shell.3.0.1.0/.signature.p7s
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Microsoft.Windows.Shell.3.0.1.0/lib/net40/Microsoft.Windows.Shell.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Microsoft.Windows.Shell.3.0.1.0/lib/net40/Microsoft.Windows.Shell.pdb
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Microsoft.Windows.Shell.3.0.1.0/Microsoft.Windows.Shell.3.0.1.0.nupkg
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/.signature.p7s
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net20/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net35/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net40/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/net45/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/LICENSE.md
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/Newtonsoft.Json.10.0.3.nupkg
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Newtonsoft.Json.10.0.3/tools/install.ps1
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Octokit.0.28.0/.signature.p7s
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Octokit.0.28.0/lib/net45/Octokit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Octokit.0.28.0/lib/net45/Octokit.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Octokit.0.28.0/lib/netstandard1.1/Octokit.dll
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Octokit.0.28.0/lib/netstandard1.1/Octokit.xml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/Octokit.0.28.0/Octokit.0.28.0.nupkg
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/WPFThemes.DarkBlend.1.0.8/.signature.p7s
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/WPFThemes.DarkBlend.1.0.8/content/Themes/LeftMarginMultiplierConverter.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/WPFThemes.DarkBlend.1.0.8/content/Themes/Styles.xaml
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/WPFThemes.DarkBlend.1.0.8/content/Themes/TreeViewItemExtensions.cs
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/WPFThemes.DarkBlend.1.0.8/readme.txt
\[DBMEx\] Installer/DBM-Mod-Manager-master/packages/WPFThemes.DarkBlend.1.0.8/WPFThemes.DarkBlend.1.0.8.nupkg
